<section class="wthree-row py-sm-0" id="about">
        <div class="container py-lg-5">
            <div class="row abbot-main py-lg-5 py-4">
                <div class="col-lg-5 about-text-grid text-left pr-lg-5">
                    <div class="title-desc">
                        <h3 class="main-title-w3pvt text-theme1 text-capitalize"><sup><span class="fa fa-star-o"
                                    aria-hidden="true"></span></sup>sparkle</h3>
                    </div>
                    <hr>
                    <div class="mt-3">
                        <p>Name   : Shirley Kataka</p>
                        <p>Age    : 21</p>
                        <p>Height : 5.6"</p>
                        <p>Waist  : 26"</p>
                        <p>Hair   : BROWN</p>
                        <p>EYES   : BROWN</p>                         
                    </div>

                </div>
              
                 <div class="col-lg-3 col-sm-6 abbot-right mt-lg-0 mt-3">
                    <img src="images/a1.jpg" class="img-fluid" alt="" />
                    <div class="border-pos-wthree1"></div>
                </div>

                {{!-- <div class="col-lg-4 col-sm-6 mt-lg-0 mt-3 abbot-right2">
                    <img src="images/a1.jpg" class="img-fluid" alt="" />
                    <div class="border-pos-wthree"></div>
                </div> --}}
            </div>
        </div>
    </section>