<div class="callbacks_container">
<ul class="rslides" id="slider3">
    <li class="banner banner1">
        <div class="container"> 
            <div class="banner-text">
                <div class="slider-info">
                    {{!-- <span>here's what we think.</span> --}}
                    <h4 class="fst-italic">"wilde flower" </h4>
                    <h6>Shirley Kataka</h6>
                    <div class="d-flex">
                        <a href="#about" class="text-capitalize serv_link btn bg-theme2 text-dark scroll">explore now</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="banner banner2">
        <div class="container">
            <div class="banner-text">
                <div class="slider-info">
                    {{!-- <span>here's what we think.</span> --}}
                    <h4 class="fst-italic">"wilde flower" </h4>
                    <h6>Shirley Kataka</h6>
                    <div class="d-flex">
                        <a href="#about" class="text-capitalize serv_link btn bg-theme2 text-dark scroll">explore now</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
</div>