<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header  bg-theme2">
                    <h5 class="modal-title" id="exampleModalLabel1">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body  bg-theme1">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label text-white">Your Name</label>
                            <input type="text" class="form-control border" placeholder="Nazrene Lawrence " name="Name" id="recipient-rname"
                                required="">
                        </div>

                    <div class="form-group">
                            <label for="recipient-email" class="col-form-label text-white">Mobile</label>
                            <input type="tel" class="form-control border" placeholder="+254 737327387" name="Email"
                                id="recipient-email" required="">
                        </div>


                        <div class="form-group">
                            <label for="recipient-email" class="col-form-label text-white">Email</label>
                            <input type="email" class="form-control border" placeholder="username@email.com" name="Email"
                                id="recipient-email" required="">
                        </div>
                       
                       <div class="form-group">
                            <label for="recipient-email" class="col-form-label text-white">Your Message</label>
                            <textarea class="form-control border" placeholder="Your Message" name="message"
                                id="recipient-email" required=""></textarea>
                        </div>
                       
                        <div class="right-w3l">
                            <input type="submit" class="form-control bg-theme1 text-white fs-6" value="Send">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>