<footer>
        <div class="container">
            <div class="cpy-right text-center">
                <p>© 2022 Why-ideas. All rights reserved |
                    <a href="https://adolph-dummy-site.netlify.app"> Adolph</a>
                </p>
            </div>
        </div>
    </footer>