
 
 <div class="header-top text-md-left text-center sticky-top">
        <div class="container">
            <div class="d-flex justify-content-between">
                <div class="nav-sec  position-relative">
                    <a href="#menu" id="toggle"> 
                        <span></span>
                    </a>
                    <div id ="menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/gallery">Gallery</a></li>
                            {{!-- <li><a href="/#services">Portfolio</a></li> --}}
                            <li>
                            <a href="#" data-toggle="modal" data-target="#exampleModal1">Contact me</a></li>
                             {{!-- <li>
                                <button type="button" class="btn bg-theme1 nav-btn" data-toggle="modal" aria-pressed="false"
                                    data-target="#exampleModal">
                                    Login
                                </button>
                            </li> --}}
                        </ul>
                    </div>
                </div>
                <h1 class="wthree-logo">
                    <a href="index.html" id="logoLink">"Wilde Flower"</a>
                </h1>
                <ul class="social-icons">
                    <li>
                        <a href="https://www.instagram.com/sha_r_lie">
                            <i class="fa fa-instagram fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>